nav {
    width: 100%;
    height: 80px;
    color: #333;
    font-family: Georgia;
}

#overviewMessage {
	position: fixed;
	top: 5px;
	right: 10px;
	font-weight: bold;
	font-size: 12px;
	font-family: Georgia;
}

header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
}

#accountHeader {
    text-align: center;
}

#create_account_form {

}

#nav {
    position: fixed;
    top: 30px;
    right: 300px;
    cursor: pointer;
}

#status {
    font-size: 12px;
    position: fixed;
    top: 30px;
    right: 10px;
}

.error {
    color: red;
}

#fbLogoutButton {
    background-color: rgb(86, 117, 204);
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    height: 20px;
}
#map-canvas {
    margin-top: 20px;
    height: 400px;
}